#body {
    width: 650px;
    margin: 0 auto;
}

#nav {
    margin: 0;
    padding: .2em 0 .2em 1em;
    background: #333;
    color: #fff;
}

#navlinks {
    float: right;
}

#navlinks a {
    color: #fff;
}

#navlinks li {
    display: inline;
}

h1 {
    text-align: center;
}

form.reply-form {
    text-align: right;
    margin: 0 0 2em 0;
}

<<<<<<< HEAD
button.delete-button {
    background: none;
    border: none;
}

.delete-msg {
    position: absolute;
    left: -3em;
}

.delete-thread {
    position: absolute;
    left: -3em;
}

form.delete-msg {
    height: 2em;
    width: 2em;
}

form.delete-thread {
    height: 2em;
    width: 2em;
}

form.delete-msg:hover button {
    display: inline;
}

.delete-msg button {
    display: none;
    cursor: pointer;
}

form.delete-thread:hover button {
    display: inline;
}

.delete-thread button {
    display: none;
    cursor: pointer;
}

#message {
    width: 70%;
}

.thread-header {
    position: relative;
}

.timestamp {
    color: #999;
    position: absolute;
    left: 100%;
    padding-left: 1em;
    text-align: left;
    width: 160px;
    font-size: 80%;
}

.attachment a {
    padding-left: .5em;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0 0 .25em 0;
    padding: .1em 1em .1em 0;
}

li li {
    list-style: none;
    position: relative;
}

li .tip {
    padding-left: 1em;
    text-align: left;
    background: #eee;
}

li .reply {
    text-align: right;
    background: #ccc;
}

.sr-only {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#notifications-table {
    width: 60%;
    clear: right;
}

#autoresponder {
    width: 100%
}

#save-button {
    margin-top: 1em;
    float: right;
}
